.backgroundsetting{
  background-color: #000000; 
  background-size:cover; 
  height:100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
} 
.heading{
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 2px; 
  text-align: center; 
  font-family: 'Roboto';
}  
.photo{
  object-fit: scale-down;  
  height:300px;
  
} 
.speedCount{
  color: #ffffff;
  letter-spacing: 2px;
  font-family: 'Roboto'; 
  font-size: 30px;
} 
.instructions{
  color: #ffffff; 
  letter-spacing: 1px; 
  font-size: 15px; 
  font-family: 'Roboto';
} 
.accelerateButton{
  cursor: pointer; 
  background-color:  #0b69ff; 
  color: #ffffff; 
  margin: 5px; 
  border: none; 
  border-radius: 2px;
} 
.applyBrakes{
  background-color: transparent; 
  border: 1px solid #94a3b8; 
  color: #ffffff; 
  margin: 5px; 
  border-radius: 2px;
}